:root {
  --color-primary: rgb(26, 147, 169);
  --color-primary-light: rgb(28, 160, 184);

  --border-color: rgb(187, 187, 187);
  --color-tertiary: rgb(227, 172, 0);
  --color-secondary: rgb(208, 28, 54);
  --priority-low:green
 
  --priority-high: rgb(240, 139, 154);
}
* {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.main-container {
  width: 70%;
}
h1 {
  margin-top: 40px;
  font-size: 50px;
  margin-bottom: 30px;
}
/*////////////////////////*/
/*add task section styling*/
.addTask-container {
  padding: 20px;

  font-size: 20px;
}
.list-svg {
  padding: 12px;
  background-color: var(--color-primary);
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.input-span {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.task-input-field {
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border: 1px solid var(--border-color);
  flex-grow: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 15px;
}
.priority-span {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 3px 7px;
}
.priority-dropdown {
  font-size: 17px;
  padding: 3px;
  margin-left: 7px;
}
.addtask-btn {
  padding: 10px 0;
  width: 100%;
  font-size: 20px;
  border-style: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  background-color: var(--color-primary);
}

.addtask-btn:hover {
  background-color: var(--color-primary-light);
}
/*///////////////*/
/*task lisk container*/
.taskList-container {
  margin-top: 20px;
}

.default-content {
  font-size: 20px;
}
.border {
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.task-item {
  display: flex;
  padding: 10px 20px;
  font-size: 20px;
  align-items: center;
}
.task-item_text {
  margin-right: auto;
  margin-left: 30px;
}
.strikethrough {
  text-decoration: line-through;
}
.svg {
  font-size: 20px;
  padding: 10px;
  background-color: white;
  border-style: none;
}

.svg-button {
  border-style: none;
  cursor: pointer;
}
.pen {
  color: var(--color-tertiary);
}
.trash {
  color: var(--color-secondary);
}
.complete-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-left: 25px;
}
.priority-box {
  padding: 10px 25px;
  font-size: 15px;
}
.high {
  border: solid 3px rgb(240, 139, 154);
}
.medium {
  border: solid 3px var(--color-tertiary);
}
.low {
  border: solid 3px green;
}
